@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  color: var(--dark);
}

:root {
  --static-white: #FFFFFF;
  --dark: #3F3F3F;
  --static-gray: #ADADAD;
  --dark-gray: #8B8B8B;
  --dark-orange: #B73958;
  --orange: #DE6D6E;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.body-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.body--overflow {
  overflow-y: hidden;
}

.nav {
  padding: 1.4rem 0;
  background-color: var(--static-white);
  position: relative;
  z-index: 100;
  opacity: 0.9;
}
.nav .container {
  max-width: 950px;
}
.nav__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__button {
  display: flex;
  gap: 7px;
  align-items: center;
  border: none;
  background-color: var(--orange);
  color: var(--static-white);
  font-size: 1rem;
  letter-spacing: 0.07rem;
  border-radius: 5px;
  padding: 0.275rem 0.65rem;
  cursor: pointer;
  margin-top: 12px;
  margin-right: 9px;
}
.nav__block {
  display: flex;
  align-items: center;
  gap: 35px;
  transition: all 0.6s linear;
}
.nav__list {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 30px;
}
.nav__logo {
  font-size: 2.5rem;
  line-height: 105%;
  letter-spacing: 0.08rem;
}
.nav__logo span {
  color: var(--orange);
}
.nav__link {
  display: block;
  font-size: 1.02rem;
  letter-spacing: 0.055rem;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}
.nav__link:hover {
  color: var(--dark-orange);
}

.header {
  position: relative;
  background-image: url("./../img/background.jpg");
  background-size: cover;
  background-position: 100% 7%;
}
.header__container {
  max-width: 750px;
}
.header__info {
  margin: 0 auto;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 5.125rem;
  flex-direction: column;
}
.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 4rem;
  width: 92%;
  letter-spacing: 0.02rem;
  font-weight: 100;
  line-height: 115%;
}
.header__subtitle {
  display: block;
  max-width: 88%;
  font-size: 1.675rem;
  text-align: right;
}
.header__title, .header__subtitle {
  color: var(--static-white);
}

.circles {
  bottom: 17px;
  position: relative;
  width: 156px;
  height: 151px;
}

.about-us__container {
  max-width: 950px;
}
.about-us__title {
  margin: 0 auto;
  display: block;
  padding-top: 3.625rem;
  font-size: 2.125rem;
  letter-spacing: 0.065rem;
  font-weight: 100;
  text-align: center;
}
.about-us__subtitle {
  margin: 0 auto;
  max-width: 830px;
  margin-top: 17px;
  font-size: 1.135rem;
  text-align: center;
}
.about-us__subtitlespan {
  margin-top: 20px;
}
.about-us__items {
  padding-top: 5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-us__image {
  margin-top: 10px;
}
.about-us__text {
  color: var(--static-white);
}
.about-us__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}
.about-us__item--blue {
  background-color: #4EB9F4;
}
.about-us__item--green {
  background-color: #6FC125;
}
.about-us__item--red {
  background-color: #FF5649;
  position: relative;
}
.about-us__item--red::before {
  content: "Lorem Ipsum is simply dummy text of the printing and typesettin industry. Lorem Ipsum has been the undustry's standard";
  position: absolute;
  color: var(--static-white);
  text-align: center;
  font-size: 0.8rem;
  max-width: 130px;
}
.about-us__item--orange {
  background-color: var(--dark-orange);
}

.text-opacity {
  opacity: 0.5;
}

.services__container {
  max-width: 1024px;
}
.services__list {
  margin-top: 6rem;
  margin-bottom: 5rem;
  display: flex;
  padding-left: 4.1rem;
  align-items: center;
  gap: 77px;
  flex-direction: column;
}
.services__item {
  display: flex;
  gap: 25px;
}
.services__title {
  margin-top: 7px;
  font-size: 1.625em;
  margin-bottom: 12px;
}
.services__text {
  color: var(--dark-gray);
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
  text-align: justify;
}
.services__images {
  max-width: 200px;
  max-height: 200px;
}

.footer {
  background-color: #232b26;
}
.footer__container {
  max-width: 1060px;
}
.footer__box {
  padding: 2rem 0rem 4rem 5.25rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 55px;
}
.footer__main {
  display: flex;
  gap: 80px;
  flex-wrap: wrap;
}
.footer__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__list span {
  color: #ADADAD;
  font-size: 1.3125rem;
  margin-bottom: 20px;
}
.footer__item {
  color: #5f5d5f;
  font-size: 0.9375rem;
  text-align: left;
  margin-bottom: 3px;
}
.footer__socials-box {
  margin-top: 22px;
  display: flex;
  gap: 23px;
  flex-wrap: wrap;
  max-width: 290px;
}
.footer__socials-box span {
  color: var(--dark-gray);
}
.footer__links {
  width: 52px;
  height: 52px;
  text-align: center;
  background-color: var(--dark-gray);
  border-radius: 50%;
}
.footer__images {
  padding-top: 10px;
}
.footer__copy {
  margin-top: 5px;
}
.footer .img-twitter {
  padding-top: 15px;
}
.footer__link {
  transition: all 0.3s ease-in-out;
}
.footer__link:hover {
  color: var(--dark-orange);
}

.hamburger__icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hamburger__line {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: var(--dark);
  transition: all 0.3s ease;
}
.hamburger--line2 {
  top: 7px;
}

.hamburger__icon {
  display: none;
}
.hamburger__icon.active .hamburger--line1 {
  transform: rotate(45deg);
  top: 7px;
}
.hamburger__icon.active .hamburger--line2 {
  transform: rotate(-45deg);
  top: 7px;
}
.hamburger__icon.active .hamburger--line3 {
  display: none;
}

@media screen and (max-width: 1200px) {
  .footer__box {
    padding: 2rem 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1.5rem;
  }
  .footer__box,
  .footer__main {
    justify-content: center;
  }
}
@media screen and (max-width: 950px) {
  .services__container {
    padding: 0 1.75rem;
  }
  .nav .container {
    max-width: 750px;
  }
  .about-us__items {
    justify-content: center;
  }
  .about-us__item {
    margin: 30px;
  }
}
@media screen and (max-width: 768px) {
  .header__title {
    width: 100%;
    font-size: 3.5rem;
  }
  .header__subtitle {
    width: 100%;
  }
  .hamburger__icon {
    display: flex;
  }
  .nav__box {
    padding: 0 1rem;
  }
  .nav__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: -150%;
    width: 55vw;
    height: 100vh;
    position: absolute;
    background-color: var(--static-white);
    top: 85px;
  }
  .nav__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav__block.active {
    right: 0;
  }
  .about-us__items {
    padding-top: 3.125rem;
  }
}
@media screen and (max-width: 620px) {
  .services__item {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services__title,
  .services__text {
    text-align: center;
  }
  .services__list {
    padding: 0;
  }
  .container {
    padding: 0 0.9rem;
  }
}
@media screen and (max-width: 568px) {
  .nav .container {
    max-width: 750px;
  }
  .about-us__item {
    margin: 17px;
  }
  .nav__block {
    width: 60vw;
  }
  .header__title {
    font-size: 2.5rem;
  }
  .header__subtitle {
    font-size: 1.15rem;
  }
}
@media screen and (max-width: 400px) {
  .header__title {
    font-size: 1.95rem;
  }
}/*# sourceMappingURL=style.css.map */